//fonts

$montsBold:		montserratbold, Arial, sans-serif;
$montsRegular:	montserratregular, Arial, sans-serif;
$robotoLight:	robotolight, Arial, sans-serif;

//colors

$color1:		#333;
$color2:		#666;
$color3:		#ff4e50;
$color4:		white;
$color5:		#999;
$color6:		#ccc;
$color7:		#ffa507;
$color8:		#1cd7ad;
$color9:		#4e73db;

//path

$imgDir:		'../../img/';